$body-bgcolor: #404040
$default-color: #2A2A2A
//$primary-color: #006E90
$primary-color: #0A98A8
$secondary-color: #FF1654

$default-button-bgcolor: #FFFFFF
$primary-button-bgcolor: $primary-color
$secondary-button-bgcolor: $secondary-color

$default-font-color: #F7F7F7

$default-button-color: $default-font-color
$primary-button-color: $default-color
$secondary-button-color: $default-font-color

$error-bg-color: #E44F51
$error-font-color: white

$notice-font-color: #ffd400

$operationSuccessful-font-color: green

$font-family: 'Titillium Web', sans-serif