@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
html, input, select, button, .btn-default, .btn-primary, .btn-secondary {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px; }

body {
  background-color: #247BA0; }

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  font-weight: normal; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

.row {
  display: block;
  margin: 0.25rem 0;
  background-color: #B2DBBF; }
  .row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.col-1-desktop {
  width: calc(1 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-2-desktop {
  width: calc(2 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-3-desktop {
  width: calc(3 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-4-desktop {
  width: calc(4 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-5-desktop {
  width: calc(5 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-6-desktop {
  width: calc(6 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-7-desktop {
  width: calc(7 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-8-desktop {
  width: calc(8 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-9-desktop {
  width: calc(9 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-10-desktop {
  width: calc(10 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-11-desktop {
  width: calc(11 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.col-12-desktop {
  width: calc(12 / 12 * 100% - 10px);
  margin: 0 5px;
  padding: 5px 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

@media (max-width: 600px) {
  .col-1-mobile {
    width: calc(1 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-2-mobile {
    width: calc(2 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-3-mobile {
    width: calc(3 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-4-mobile {
    width: calc(4 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-5-mobile {
    width: calc(5 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-6-mobile {
    width: calc(6 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-7-mobile {
    width: calc(7 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-8-mobile {
    width: calc(8 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-9-mobile {
    width: calc(9 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-10-mobile {
    width: calc(10 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-11-mobile {
    width: calc(11 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; }

  .col-12-mobile {
    width: calc(12 / 12 * 100% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    background-color: #8fcba2;
    color: #000000;
    float: left; } }
.collection-item-1 {
  width: calc(1 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-2 {
  width: calc(2 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-3 {
  width: calc(3 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-4 {
  width: calc(4 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-5 {
  width: calc(5 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-6 {
  width: calc(6 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-7 {
  width: calc(7 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-8 {
  width: calc(8 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-9 {
  width: calc(9 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-10 {
  width: calc(10 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-11 {
  width: calc(11 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.collection-item-12 {
  width: calc(12 / 12 * 100% - 2px);
  margin: 0 1px;
  padding: 1rem 0;
  background-color: #8fcba2;
  color: #000000;
  float: left; }

.bgcolor-default {
  background-color: #B2DBBF; }

.bgcolor-primary {
  background-color: #F3FFBD; }

.bgcolor-secondary {
  background-color: #FF1654; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.relative {
  display: relative; }

.center-text {
  text-align: center; }

input, textarea, select {
  width: 100%;
  padding: 0.5rem;
  height: 34px;
  border-radius: 0.3125rem;
  border: 1px solid #ccc; }

input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

button, .btn-default, .btn-primary, .btn-secondary {
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  margin: 0 0.15rem;
  text-transform: uppercase; }

.btn-default {
  background-color: #B2DBBF;
  color: #000000; }
  .btn-default:hover {
    background-color: #a9d7b8; }

.btn-primary {
  background-color: #F3FFBD;
  color: #B2DBBF; }
  .btn-primary:hover {
    background-color: #f8ffd7; }

.btn-secondary {
  background-color: #FF1654;
  color: #000000; }
  .btn-secondary:hover {
    background-color: #ff4979; }

/*# sourceMappingURL=main.css.map */
