


$min-item-size: 1
$max-item-size: 12
$collection-gutter-size: 2px

=collectionItem($colSize)
    width: calc(#{$colSize} / #{$max-item-size} * 100% - #{$collection-gutter-size})
    margin: 0 $collection-gutter-size / 2
    padding: 1.0rem 0
    background-color: darken($default-color, 10%)
    color: $default-font-color
    float: left

@for $i from $min-item-size through $max-item-size
    .collection-item-#{$i} 
        +collectionItem($i)